footer.footer
   .container-fluid
      .d-flex.justify-content-start.flex-wrap
         .mr-auto.p-2
            small.text-muted 2018 Penguinhouse Technologies
         .p-2
            a(href="mailto:jtteague13@gmail.com")
               small.text-muted Email support
         .p-2
            a(href="https://github.com/JamesTeague/ubiquitous-train/issues/new?title=Bug%20Title&body=Bug%20Description&labels=bug" target="_blank")
               small.text-muted Report a bug