head
   title= title
   block head
      script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
      script(language='javascript', src="js/bootstrap.js")
      link(rel="stylesheet" href="css/bootstrap.css")
      link(rel="stylesheet" href="/styles/navbar-top-fixed.css")