head
   title= title
   block head
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
      script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
      script(language='javascript', src="js/bootstrap.js")
      link(rel="stylesheet" href="css/bootstrap.css")
      link(rel="stylesheet" href="/styles/navbar-top-fixed.css")