head
   title= title
   block head
      script(language='javascript', src="js/bootstrap.js")
      link(rel="stylesheet" href="css/bootstrap.css")
      link(rel="stylesheet" href="/styles/navbar-top-fixed.css")