head
   title= title
   block head
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
      script(src="jquery.js")
      script(language='javascript', src="js/bootstrap.js")
      link(rel="stylesheet" href="css/bootstrap.css")
      link(rel="stylesheet" href="/styles/navbar-top-fixed.css")
      link(rel="stylesheet" href="/styles/sticky-footer.css")