extends layout

append head
   script(src="/scripts/login.js")

block content
   .container
      form#login_form(method="post" action="/createAccount" novalidate, accept-charset="UTF-8")
         .form-group
            label(for="nameInput") Name
            input#nameInput.form-control(type="text", placeholder="First and last name", name="name")
         .form-group
            label(for="emailInput") Email Address
            input#emailInput.form-control(type="text", placeholder="Email", name="email")
            small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
         .form-group
            label(for="passwordInput") Password
            input#passwordInput.form-control(type="password", placeholder="Password", name="password")
         .form-group
            button.btn.btn-primary(type="submit") Submit